/* Lite version */
@import '/node_modules/lxgw-wenkai-lite-webfont/style.css';
body {
  /* Lite version */
  font-family: "LXGW WenKai Lite", sans-serif;
}

.md-typeset {
    font-size: 2.0em;
}

.md-grid {
  max-width: 100%;
}

@media (min-width: 1220px) {
  .md-main__inner {
    margin-top: 0;
  }
  .md-sidebar {
    height: auto;
  }
  .md-sidebar--primary {
    border-right: 1px solid var(--md-default-fg-color--lightest);
  }
  .md-nav {
    font-size: 18px;
  }
  .md-nav .md-nav__title {
    display: none;
  }
  .md-nav__icon {
    width: 1.2rem;
    height: 1.2rem;
    margin-top: -.1rem;
  }
}

/*
:root {
  --md-text-font: "LXGW Wenkai Lite", sans-serif; 
}
*/
